<%- include('partials/header'); -%>

<%- include('partials/archive'); -%>

<div style="text-align: center;">

  <img class="img-fluid" src="/imgs/comic/<%= pgNum %>.png" alt="">
<div class="btnsundercomic">
  <%- include('partials/navbtns'); -%>
</div>
<%- include('partials/adspace'); -%>

<%- include('partials/footer'); -%>
